#강의 1강

In [2]:
a <- 1; b <- 2; a+b #세미콜론 사용하면 여러개의 명령문 한 줄 입력 가능

[1] 3

R에서 사용 가능한 변수 이름 문자 a-z, A-Z, 숫자, . 와 _의 조합
이름의 첫글자로 숫자와 _는 사용 불가
대문자 소문자 서로 구분

In [7]:
a <- "Use R!" #문자형 값 입력
a
mode(a)

[1] "Use R!"

[1] "character"

In [10]:
c <- 1 > 2 #논리형 연산작업
c
mode(c)

[1] FALSE

[1] "logical"

벡터의 생성 - 한 벡터 내에 여러 형태의 자료는 올 수 없고 c() 함수를 통해 생성

In [12]:
x <- c(1,2,3) #(1:3도 가능)
y <- c(4,5,6) #(4:6도 가능)
x+y #x와 y의 원소별 합

[1] 5 7 9

In [13]:
x*y #x,y의 원소별 곱
x^2 #원소별 제곱 x**2 도 가능

[1]  4 10 18

[1] 1 4 9

In [14]:
log(x^2) #x제곱에 자연로그 취한 값

[1] 0.000000 1.386294 2.197225

In [18]:
z <- c(x,y) #벡터 x와 y를 병합하고 z에 저장
z

[1] 1 2 3 4 5 6

In [19]:
1/0 #무한대 Inf 로 표현

[1] Inf

In [20]:
log(-1)#이상치 NaN

Warning message in log(-1):
"NaN이 생성되었습니다"

[1] NaN

In [21]:
x <- c(7,2,4,9,8,6,1,5,10,3)
sort(x) #오름차순으로 정렬

 [1]  1  2  3  4  5  6  7  8  9 10

In [22]:
sum(x) #합
mean(x) #표본평균
sum(x)/length(x) #표본평균

[1] 55

[1] 5.5

[1] 5.5

In [23]:
var(x) #표본분산
min(x) #최솟값
which.min(x) #최솟값이 있는 위치
summary(x) #기초 통계량

[1] 9.166667

[1] 1

[1] 7

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
   1.00    3.25    5.50    5.50    7.75   10.00

In [26]:
y <- c(1,3,5,NA,9,NA,11)
mean(y)
mean(y,na.rm=TRUE) #연산에서 NA 제외 옵션
is.na(y) #각 관측치가 NA인지 여부 판단
which(is.na(y))  #NA인 관측치의 위치 값
sum(is.na(y)) #관측치가 NA 여부 판단시 True 면 1 False 면 0

[1] NA

[1] 5.8

[1] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE

[1] 4 6

[1] 2

도움말 help 함수명 혹은 ? 함수명
help.search("검색 키워드" 혹은 ?? 검색키워드
example(함수명)
도움말의 시작페이지 help.start()

In [28]:
abs(-1) #절댓값
choose (5,3) #n개에서 x개 고르는 조합의 경우의 수
factorial(4) #x의 계승 x!값
exp(1) #지수함수
log(10) #x의 자연로그 값
log10(10) #x의 상용로그 값
log2(10) #밑이 2인 x의 로그 값
pi #원주율 파이 값
round(pi,digits=2) #x를 소수점 이하 n자리에서 반올림
ceiling(5.4) #x와 같거나 x보다 큰 값 중 가장 작은 정수
floor(pi) #x와 같거나 x보다 작은 값 중 가장 큰 정수 
sin(pi) #사인 삼각함수 값
cos(pi) #코사인 삼각함수 값
tan(pi/4) #탄젠트 삼각함수 값
sqrt(2) #x의 제곱근 함수 값
trunc(pi) #x의 소수점 이하 버림

[1] 1

[1] 10

[1] 24

[1] 2.718282

[1] 2.302585

[1] 1

[1] 3.321928

[1] 3.141593

[1] 3.14

[1] 6

[1] 3

[1] 1.224606e-16

[1] -1

[1] 1

[1] 1.414214

[1] 3

통계함수

In [32]:
x <- c(1,5,3,7,11,13,9)
IQR(x) #x의 사분위 범위
max(x) #최대값
which.max(x) #최대값의 위치
min(x) #최솟값
which.min(x) #최솟값 위치
median(x) #중앙값
mean(x) #평균
quantile(x, 0.2) #x의 q백분위수 20%
range(x) #벡터 x의 범위
var(x) #벡터 x의 분산
sd(x) #표준편차
sort(x) #순서대로 정렬
rev(x) #순서 뒤바꿈
sum(x) #벡터 x의 총합
prod(x) #벡터 x의 총곱

[1] 6

[1] 13

[1] 6

[1] 1

[1] 1

[1] 7

[1] 7

20%
3.4

[1]  1 13

[1] 18.66667

[1] 4.320494

[1]  1  3  5  7  9 11 13

[1]  9 13 11  7  3  5  1

[1] 49

[1] 135135

#강의 2강

R설치시 기본 설치되는 패키지는 library() 로 조회
시작과 함께 동시에 시작되는 기본 패키지는 search()로 조회
help(package="rpart") 웹기반 패키지 설명서
library(help="rpart") 텍스트 기반 패키지 설명서 
data(package="패키지명") 명령문 사용하면 저장되어 있는 데이터 목록 출력
data(데이터명, package="패키지명") 명령문으로 패키지 내 저장 데이터 불러오는 것도 가능

In [45]:
library(MASS)
data <- Boston
summary(data)
data2 <- data(Boston, package="MASS") #안 되는데
summary(data2)

      crim                zn             indus            chas
 Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46   Min.   :0.00000
 1st Qu.: 0.08204   1st Qu.:  0.00   1st Qu.: 5.19   1st Qu.:0.00000
 Median : 0.25651   Median :  0.00   Median : 9.69   Median :0.00000
 Mean   : 3.61352   Mean   : 11.36   Mean   :11.14   Mean   :0.06917
 3rd Qu.: 3.67708   3rd Qu.: 12.50   3rd Qu.:18.10   3rd Qu.:0.00000
 Max.   :88.97620   Max.   :100.00   Max.   :27.74   Max.   :1.00000
      nox               rm             age              dis
 Min.   :0.3850   Min.   :3.561   Min.   :  2.90   Min.   : 1.130
 1st Qu.:0.4490   1st Qu.:5.886   1st Qu.: 45.02   1st Qu.: 2.100
 Median :0.5380   Median :6.208   Median : 77.50   Median : 3.207
 Mean   :0.5547   Mean   :6.285   Mean   : 68.57   Mean   : 3.795
 3rd Qu.:0.6240   3rd Qu.:6.623   3rd Qu.: 94.08   3rd Qu.: 5.188
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :12.127
      rad              tax           ptratio          black
 Min.   : 1.000   Min.   :187.0   Min.   :12.60   Min.   :  0.32
 1st Qu.: 4.000   1st Qu.:279.0   1st Qu.:17.40   1st Qu.:375.38
 Median : 5.000   Median :330.0   Median :19.05   Median :391.44
 Mean   : 9.549   Mean   :408.2   Mean   :18.46   Mean   :356.67
 3rd Qu.:24.000   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:396.23
 Max.   :24.000   Max.   :711.0   Max.   :22.00   Max.   :396.90
     lstat            medv
 Min.   : 1.73   Min.   : 5.00
 1st Qu.: 6.95   1st Qu.:17.02
 Median :11.36   Median :21.20
 Mean   :12.65   Mean   :22.53
 3rd Qu.:16.95   3rd Qu.:25.00
 Max.   :37.97   Max.   :50.00

   Length     Class      Mode
        1 character character